<!DOCTYPE html>
<html ng-app="myApp" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>日本の野鳥API</title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./distribution.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="./bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <style>
      html, body {font-size: 24px;}
      h1, h2 {font-size: 1em;}
      section { padding: 0 2em; }
      input {font-size: 1em;}
    </style>
  </head>
  <body ng-controller="bird-distribution">
    <h1>観察した野鳥</h1>
    <section>
      <h2></h2>
      <form>
        <label for="ja">標準和名</label>
        <input name="ja" type="text" ng-model="ja">
        <br />
        <label for="name">見つけたところ</label>
        <input name="name" type="text" ng-model="place">
        <p>
          <a href="#" ng-click="post()">POST v1/distributions/</a><br />
          <small>last status: {{lastPostStatus}}</small>
        </p>
        <p>
          <a href="#" ng-click="get()">GET v1/distributions/{{ja}}</a><br />
          <small>last status: {{lastGetStatus}}</small>
        </p>
      </form>
      <ng-map zoom="1" center="55,55" ng-if="distributions">
        <marker ng-repeat="dist in distributions" position="{{dist.place}}" title={{dist.place}}></marker>
      </ng-map>
    </section>
  </body>
</html>
